.carouselContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel .slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.carousel .slide img {
  margin-bottom: 1rem;
}

.carousel .carousel-item-texts {
  width: 50%;
}

.carousel .carousel-item-texts-title {
  margin-bottom: 0.5rem;
}
