@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  border: 0;
}

body {
  background-color: #424242;
}

html {
  font-size: 17px;
}

h1 {
  font-size: 2rem;
  letter-spacing: 0.05em;
}

h2 {
  font-size: 1rem;
  font-weight: 400;
}

@keyframes fade-in {
  from {
    opacity: 0;
    bottom: -100px;
  }
  to {
    opacity: 1;
    bottom: 0px;
  }
}

.animate-fade-in {
  animation-name: fade-in;
  animation-delay: 500ms;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes fly-in {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-fly-in {
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: both;
}
