#main{
    width: 100%;
    height: 10%;
    position:relative;
}

#bannerImg{
    width:100%;
    height: auto;
}

#portfolioText{
    color: yellowgreen;
    position: absolute;
    left: 45%;
    margin-top: 5%;
    font-weight: 700;
    font-size: 30px;
}

#devName{
    color: white;
    position: absolute;
    left: 45%;
    margin-top: 9%;
    font-weight: 700;
    font-size: clamp(5vw,60px,3vw);
    line-height: 60px;
}

#buttonsbar{
    position: absolute;
    top: 40%;
    left: 45%;
}



.icons{
    color: white;
    font-size: 50px;
}

.icons:hover{
    cursor: pointer;
    color: yellowgreen;
}

@media screen and (max-width: 1000px) {
    #buttonsbar{
        display: none;
    }
}

